.cards {
  padding-top: 20px;
  margin: 0 auto;
}
.cards__list {
  list-style-type: none;
  padding: 0 0 40px 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}
@media screen and (max-width: 627px) {
  .cards {
    max-width: 288px;
    margin: 0 auto;
  }
  .cards__list {
    padding: 0 0 20px 0;
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
}
