.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 0;
}

.card__title {
  max-width: 355px;
  font-weight: 500;
  font-size: 20px;
  color: #212121;
  margin: 0;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
  cursor: pointer;
}
.card__like-btn:hover {
  transition: opacity linear 1s;
  opacity: 100%;
  cursor: pointer;
}
@media screen and (max-width: 627px) {
  .card__title {
    max-width: 255px;
    line-height: 100%;
    font-size: 16px;
  }
  .card__image {
    height: 288px;
  }
}
