.footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.footer__copyright {
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
  padding: 0px;
  margin: 60px auto;
  opacity: 70%;
}
