.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
}
.modal__exit-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  margin: 0;
  padding: 0;
  opacity: 40%;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}
.modal__exit-btn::before {
  content: url(../images/close.svg);
}
.modal__exit-btn:hover {
  transition: opacity linear 1s;
  opacity: 100%;
  cursor: pointer;
}
.modal__title {
  font-weight: 500;
  line-height: 100%;
  font-size: 32px;
  margin: 0 0 32px;
  padding: 0;
}
.modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.modal__label {
  font-weight: 500;
  font-size: 16px;
  color: #212121b2;
  padding: 0;
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 16px 0 16px 12px;
  font-weight: 500;
  border-radius: 8px;
  border-width: 1px;
  margin: 8px 0 0;
  border-color: #21212166;
}
.modal__input:hover {
  border-color: #000;
}

.modal__save-btn {
  max-width: 156px;
  height: 52px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 8px;
  color: #fcf5e5;
  background-color: #212121;
  cursor: pointer;
}
@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    font-weight: 500;
    line-height: 100%;
    font-size: 20px;
    padding: 10px 0 34px 0;
    margin: 0;
  }
  .modal__exit-btn {
    top: 12px;
    right: 12px;
  }

  .modal__save-btn {
    max-width: none;
  }
}
