.profile {
  display: flex;
  padding: 34px 0 20px;
}
.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
  margin-right: 20px;
}
.profile__column {
  max-width: 420px;
  display: flex;
  flex-direction: column;
}
.profile__name {
  padding: 0 0 12px;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  color: #212121;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__edit-btn {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
  margin: auto auto 0 0;
  font-weight: 500;
  padding: 0;
  background-color: transparent;
  border: none;
  opacity: 70%;
  gap: 8px;
  cursor: pointer;
}
.profile__edit-btn::before {
  content: url(../images/pencil.svg);
  width: 16px;
  height: 16px;
}

.profile__edit-btn:hover {
  transition: opacity linear 1s;
  opacity: 100%;
  cursor: pointer;
}
.profile__add-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  height: 52px;
  width: 149px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  margin: auto 0 0 auto;
  padding: 0;
  opacity: 100%;
  cursor: pointer;
}
.profile__add-btn::before {
  content: url(../images/add.svg);
  width: 12px;
  height: 12px;
  padding-right: 8px;
}

.profile__add-btn:hover {
  transition: opacity linear 1s;
  opacity: 80%;
  cursor: pointer;
}
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }
  .profile__name {
    font-size: 20px;
    margin: 0;
  }
  .profile__description {
    margin-top: 6px;
  }
  .profile__edit-btn {
    margin: 32px 0 0;
  }

  .profile__add-btn {
    width: 100%;
    margin: 20px 0 0;
  }
}
